
@{
    ViewBag.Title = "display";
}

<div>
    <canvas id="myCanvas" style="border:1px solid #d3d3d3;"></canvas>
</div>

<style>
    canvas {
        /* Rescale */
        max-width: 97%;
        height: auto;
        /*border and center*/
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 8px;
        /*background*/
        background-image: url("/assets/map.png");
        background-position: center;
        background-size: 100% 100%;
    }
</style>

<script type="text/javascript">
    //init canvas and arr
    var xLocations = [];
    var yLocations = [];
    var c = document.getElementById("myCanvas");
    var ctx = c.getContext("2d");
    ctx.canvas.width = window.innerWidth;
    ctx.canvas.height = window.innerHeight;
    //time interval
    var bool = 0;
    var time = @Session["time"];
    var IntervalTime = time * 1000;
    // func to draw lines + dot
    function drawAnimation(xLocation, yLocation)
    {
        //reset canvas
        ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);
        ctx.beginPath();
        //Draw lines
        ctx.beginPath();
        for (i = 0; i < xLocation.length - 1; i++) {
            ctx.moveTo(xLocation[i], yLocation[i]);
            ctx.stroke();
            ctx.lineTo(xLocation[i + 1], yLocation[i + 1]);
            ctx.stroke();
        }
        //Inner ring
        ctx.beginPath();
        ctx.fillStyle = "#FF0000";
        ctx.arc(xLocation[i], yLocation[i], 3, 0, 2 * Math.PI, true);
        //Outer ring;
        ctx.fill();
        ctx.beginPath();
        ctx.arc(xLocation[i], yLocation[i], 3, 0, 2 * Math.PI, true);
        ctx.stroke();

    }
    myTimer = (function () {
        $.post("@Url.Action("GetLocation")").done(function (xml) {
            //in case the file dosent exist/empty/done
            if (xml == "") {
                alert("Finished Showing");
                if (bool == 1) {
                    clearInterval(myInterval);
                }
                return;
            }
            var xmlDoc = $.parseXML( xml ),
            $xml = $(xmlDoc),
            Lon = parseInt($xml.find("Lon").text());
            Lat = parseInt($xml.find("Lat").text());
            //normalize
            Lon = (((Lon + 180) / 360)) * myCanvas.height;
            Lat = (((Lat + 90) / 180)) * myCanvas.height;
            //temp files
            $("#prodLon").text(Lon);
            $("#prodLat").text(Lat);
            //saves the locations
            xLocations.push(parseInt(Lon));
            yLocations.push(parseInt(Lat));
            drawAnimation(xLocations, yLocations);
        });
    });
    if (IntervalTime != 0) {
        myInterval = setInterval(myTimer, IntervalTime);
        bool = 1;
    }
    myTimer();


</script>
