
@{
    ViewBag.Title = "save";
}

<div>
    <canvas id="myCanvas" style="border:1px solid #d3d3d3;"></canvas>
</div>

<style>
    canvas {
        /* Rescale */
        max-width: 97%;
        height: auto;
        /*border and center*/
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 8px;
        /*background*/
        background-image: url("/assets/map.png");
        background-position: center;
        background-size: 100% 100%;
    }
</style>

<script type="text/javascript">
    //init canvas and arr
    var xLocations = [];
    var yLocations = [];
    var c = document.getElementById("myCanvas");
    var ctx = c.getContext("2d");
    ctx.canvas.width = window.innerWidth;
    ctx.canvas.height = window.innerHeight;
    //time interval
    var speed = @Session["speed"];
    var duration = @Session["duration"];
    var times = Math.floor(duration / speed);
    var IntervalTime = speed * 1000;
    // func to draw lines + dot
    function drawAnimation(xLocation, yLocation)
    {
        //reset canvas
        ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);
        ctx.beginPath();
        //Draw lines
        ctx.beginPath();
        for (i = 0; i < xLocation.length - 1; i++) {
            ctx.moveTo(xLocation[i], yLocation[i]);
            ctx.stroke();
            ctx.lineTo(xLocation[i + 1], yLocation[i + 1]);
            ctx.stroke();
        }
        //Inner ring
        ctx.beginPath();
        ctx.fillStyle = "#FF0000";
        ctx.arc(xLocation[i], yLocation[i], 3, 0, 2 * Math.PI, true);
        //Outer ring;
        ctx.fill();
        ctx.beginPath();
        ctx.arc(xLocation[i], yLocation[i], 3, 0, 2 * Math.PI, true);
        ctx.stroke();

    }
    myTimer = (function () {
        if (times == 0) {
            alert("Finished Saving");
            clearInterval(myInterval);
            return;
        }
        $.post("@Url.Action("SaveLocation")").done(function (xml) {
        //in case the file dosent exist/empty
        if (xml == "") {
            alert("Finished");
            clearInterval(myInterval);
            return;
        }
        var xmlDoc = $.parseXML( xml ),
        $xml = $(xmlDoc),
        Lon = parseInt($xml.find("Lon").text());
        Lat = parseInt($xml.find("Lat").text());
        //normalize
        //alert(times)
        Lon = (((Lon + 180) / 360)) * myCanvas.height;
        Lat = (((Lat + 90) / 180)) * myCanvas.height;
        //saves the locations
        xLocations.push(parseInt(Lon));
        yLocations.push(parseInt(Lat));
        drawAnimation(xLocations, yLocations);
        times--;
        });
    });
    var myInterval = setInterval(myTimer, IntervalTime)
    myTimer();

</script>

